@require './override'

$red=#c0392b

/* Headings
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
  font-weight 300

h1
  padding-bottom 10px
  border-bottom 2px solid rgba(0, 0, 0, 0.05)

h2
  border-bottom 0

/* Page
-----------------------------------------------------------------------------*/
@media (min-width 1440px)
  .content:not(.custom)
    max-width 90%

.page-nav > .inner
  padding-top 5px
  border-top 2px solid $red

.navbar
  background $accentColor
  border-bottom 4px solid $red
  color white

  .site-name
    color white

  .links
    background $accentColor
